/ALX
/Backup_of_Untitled-1.cdr
/Codes
/DA's Empire.jpg
/DA's Empire.png
/DATASCHOOL
/Delicious Bite Menu.docx
/Delisious Bite.png
/Emacs
/Esther
/Filling Station.py
/Gameloop.lnk
/IMG-20220828-WA0069.jpg
/IMG-20220830-WA0069.jpg
/IMG_1727 copy.jpg
/Jason
/Loop.py
/Miranj Global Letterhead.docx
/Miranj Global.docx
/Mom
/Mummy Uba
/My File
/New folder
/New folder (2)
/New folder (3)
/New folder (4)
/New logo.png
/New.py
/New1.py
/Newshop.py
/Nutron.pdf
/Nutron.png
/Passwordcheck.py
/Plain.jpg
/pp.py
/Pst David
/Random alphanumeric.py
/Random.py
/Setups
/Sideloadly.lnk
/Slack.lnk
/Telegram.lnk
/tempCodeRunnerFile.py
/Try.py
/Untitled-1.cdr
/WhatsApp.lnk
/Wisdom